@use '../../styles/styles.scss' as var;


:host {
  .controls {
    display: flex;
    justify-content: space-between;

    mat-form-field {
      height: 56px;
      width: 200px;
      padding: 0 24px;
      border-radius: var.$base-border-radius;
      box-shadow: var.$box-shadow;

      @include var.themed() {
        background-color: var.theme("foreground");
        color: var.theme("color");
      }

      mat-select {
        @include var.base-typography();
        font-weight: 400;
        line-height: 20px;
      }
    }
  }

  .countries {
    // I dont like grid!
    display: grid;
    grid-template-columns: repeat(1, 264px);
    grid-auto-rows: 336px;
    // column-gap: 75px;
    row-gap: 75px;
    width: 100%;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;

    @media screen and (min-width: 610px) {
      grid-template-columns: repeat(2, 264px);
      justify-content: space-around;
    }


    @media screen and (min-width: 885px) {
      grid-template-columns: repeat(3, 264px);
      justify-content: space-between;

    }

    @media screen and (min-width: 1150px) {
      grid-template-columns: repeat(4, 264px);
    }
  }
}
